/* body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* header fijo */
#et_header {
    position: sticky;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f5f1f1;
    border-radius: 20px;
    top: 0;
    height: 100px;
}

header p{
    color:black; 
}

/* logo */
.logo {
    width: 100px;
    height: 80px;
    border-radius: 90px;
    margin-left: 20px;
    padding: 7px;
}

/* menu de navegacion */
.menu_navegacion {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#et_top_navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
}
.top_menu {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}
.top_menu li a {
text-decoration: none;
}
/* listas de menu de navegacion */
.inicio {
    color: rgb(158, 91, 213);
}
.inicio:hover {
    color: #43125b;
    transition: all 0.4s ease-in-out;
}
.portal_virtual {
    color: rgb(97, 65, 65);
}
.portal_virtual:hover {
    color: #43125b;
    transition: all 0.4s ease-in-out;
}
.acceder {
    color: #ffffff;
    background-color: rgb(183, 183, 241);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;  
}
.acceder:hover {
    background-color: rgb(150, 150, 220);
    color: #865199;
    transition: all 0.4s ease-in-out;
}

/* Estilo del encabezado */

.img-encabezado {
    width: 100%;
    height: 550px;
    margin: 0px;
}

.articulo { 
    text-align: center;
    color: #7F8C8D;
    padding: 20px;
}

.articuloAct {
      background-color: #2ECC71;
      color:white;
      padding: 10px;
      border-radius: 25px;
      box-shadow: 0 0 10px rgb(248, 195, 195);
      flex: 1;
      text-align:justify;
}

article h2{

    color: #3498DB;
    text-align: center;
    padding: 10px;
    
}
 article img{
            max-width: 100%;
            height: auto;
            display: block;
            border-radius: 20px;
            margin: 0 auto;
        }

.valores{
    padding:10px;
}

.lista{
    gap:20px;
    grid-template-columns: repeat(4, 1fr);
    color: #7F8C8D;
}

ol li{
    font-weight: bold;
    color: #2ECC71;
    padding:5px;
    margin: 10px;
}

.titulo{
    text-align: center;
    color:#2ECC71;
}

main h2{
    text-align: center;
    color:#3498DB;
    padding:10px;

}

main{
    background-color: #f5f8ea;
}

.titulotexto {
    color:#7F8C8D;
    font-weight: bold;
    text-align: justify;
    padding: 10px;
}

.contenedor {
    display: flex;
    gap:20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px; 
    text-align: justify;
}

/* footer */

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  flex-wrap: wrap;
  background-color: #f5f1f1;
}

.div_logo {
  flex: 1;
  text-align: left;
}

.div_logo img {
  text-align: left;
  width: 120px;
  width: 100px;
  border-radius: 80px;
}

.footer_div_ul {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0px 790px 0px 0px;
}

.footer_ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer_ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

footer p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #444;
}

/* Contenedor principal del formulario */
.body_formulario {
  height: 100%;
}
.container_formulario {
    width: 500px;
    margin: 50px auto;
    padding: 10px;
    background-color: #ffeedd; /* color piel muy pálido */
    border: 1px solid black;
}
.logo_formulario{ 
  text-align: center;
}

.logo_formulario img {
  border-radius: 60px;
  text-align: center;
  width: 120px;
  height: 100px;
  image-rendering: crisp-edges;
  filter: blur(0);
  opacity: 1
}

/* Estilo del título */
h1 {
    text-align: center;
    color: #2c3e50;
}

/* Estilo para las etiquetas o labels */
label {
    display: block;
    color: #34495e;
    margin: 5px auto;
    font-weight: bold;
}

/* Estilo para los campos de entrada */
input,
textarea,
select {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    height: 30px;
}

/* Estilo al botón */
input[type="submit"] {
    background-color: #8e44ad; /* morado */
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;;
}

input[type="submit"]:hover {
    background-color: #6c3483; /* morado oscuro */
}

input[type="button"]:hover {
    background-color: #6c3483; /* morado oscuro */
}

input[type="button"] {
    background-color: #8e44ad; /* morado */
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;;
}

/* Portal Virtual */

.bienvenida {
    background: #b9d0d2;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    height: 500px;
}

.contenido {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.texto {
  flex: 1 1 300px;
  margin-right: 40px;
  max-width: 400px;
}

.texto h2 {
  font-size: 36px;
  font-weight: 800;
  color: #000000;
}

.texto p {
  margin-top: 10px;
  color: #333;
  width: fit-content;
  font-size: 20px;
}

.cards {
  flex: 2 1 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1 1 250px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-content {
    display: flex;
    align-items: center;
    gap: 15px;
}
.card-content img {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
}

.card-text h3 {
  margin: 0;
  font-weight: 700;
  color: #1a1a1a;
  font-size: 24px;
}

.card-text p {
  margin-top: 10px;
  color: #333;
  width: fit-content;
  font-size: 20px;
}

/* section 2 */

.middle {
    background: #ffffff;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    height: 400px;
}

.middle_contenido {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
}

.middle_text {
    flex: 1 1 300px;
    max-width: 900px;
    padding: 10px 50px;
    margin-top: 40px;
}

.middle_text h1 {
  font-size: 30px;
  font-weight: 800;
  color: #000000;
  margin: 0px;
  text-align: left;
  
}

.middle_text p {
  margin-top: 10px;
  color: #333;
  width: fit-content;
  font-size: 20px;
}

.middle_span {
  font-weight: bold;
}

.middle_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-end;
    padding: 10px 50px;
    margin-top: 40px;
}

.middle_card_1 {
    flex: 1  250px;
    background: #fff;
    border-radius: 10px;
    padding: 10px 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #1787fc;
    max-height: 200px;
    max-width: fit-content;
    box-shadow: 0 6px 0 rgba(23, 135, 252, .65);
}
.middle_card_2 {
    flex: 1  250px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    padding: 10px 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #213053;
    max-height: 200px;
    max-width: fit-content;
    box-shadow: 0 6px 0 rgba(27, 23, 88, 0.65);
}

.cotizar{
  color: white;
  text-align: center;
  font-weight: bold;

}

.middle_card_1 h1 {
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    margin-top: 10px;
}
.middle_card_1 p {
  margin-top: 10px;
  color: #ffffff;
  width: fit-content;
  font-size: 20px;
}

.middle_card_2 h1 {
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    margin-top: 10px;
}
.middle_card_2 p {
  margin-top: 10px;
  color: #ffffff;
  width: fit-content;
  font-size: 20px;
}

/* === responsiva === */
@media (max-width: 650px) {
  /* Header */
  #et_header {
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .logo {
    width: 100px;
    height: 80px;
  }

  #et_top_navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
  }

  .top_menu {
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }

  .top_menu li a {
    padding: 8px 16px;
    font-size: 16px;
  }

  /* Sección bienvenida */
  .bienvenida {
    height: auto;
    padding: 30px 20px;
    flex-direction: column;
    gap: 30px;
  }

  .contenido {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .texto {
    margin: 0;
    max-width: 100%;
  }

  .texto h2 {
    font-size: 28px;
    padding: 20px;
  }

  .texto p {
    font-size: 18px;
    margin: 10px 0;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .card {
    width: 90%;
    max-width: 360px;
    padding: 20px;
    gap: 15px;
  }

  .card-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-content img {
    width: 70px;
    height: 70px;
  }

  .card-text h3 {
    font-size: 20px;
  }

  .card-text p {
    font-size: 16px;
  }

  /* Sección middle */
  .middle {
    height: auto;
    padding: 30px 20px;
    flex-direction: column;
  }

  .middle_contenido {
    flex-direction: column;
    align-items: center;
  }

  .middle_text {
    padding: 0;
    margin-top: 0;
    text-align: center;
  }

  .middle_text h1 {
    font-size: 22px;
  }

  .middle_text p {
    font-size: 16px;
    margin: 10px 0;
  }

  .middle_cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }

  .middle_card_1,
  .middle_card_2 {
    width: 90%;
    padding: 20px;
    max-width: 360px;
  }

  .middle_card_1 h1,
  .middle_card_2 h1 {
    font-size: 30px;
  }

  .middle_card_1 p,
  .middle_card_2 p {
    font-size: 16px;
  }
  .footer_content {
    gap: 10px;
    text-align: center;
  }

  .div_logo {
    flex: unset;
    text-align: left;
  }
  .footer_div_ul {
    flex: unset;
    text-align: center;
    margin-left: 30px;
padding: 0px 150px 0px 0px;

  }

  .footer_ul {
    gap: 20px;
    margin-left: 30px;
  }


}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: block;
}

.formulario {
  max-width: 500px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.titul{
  color: rgb(19, 19, 19);
  padding: 1.5rem;
  text-align: center;

}
